/* Fonts */

@font-face {
    font-family: impact;
    src: url(/fonts/Impact/impact.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: montserratMedium;
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserratSomething;
    src: url(/fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: montBold;
    src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

/* social media */

.social-nets-btns {
    width: 175px;
}

.ref {
    text-decoration: none;
    color: #ffffff;
}

.social-nets-btns li a {
    display: block;
    width: 40px;
    height: 40px;
    background: #ff7f00;
    cursor: pointer;
    color: white;
    text-align: center;
    line-height: 40px;
    transition: .4s ease;
    border-radius: 20%;
    font-size: 25px;
    text-decoration: none;
}

.social-links {
    margin-top: 60px;
    margin-right: 20px;
    margin-left: -40px;
}

.social-nets-btns li a:hover {
    background: #000000;
}

.social-nets-btns li a:hover {
    background: #0a0500;
}

/* Gallery */

.search-bar {
    border: none;
    border-bottom: 1px black solid;
    color: #7a7a7a;
    font-family: montserratMedium;
    font-size: 19px;
    font-weight: 500;
    margin-right: -19px;
}

.gallery-search-nav {
    width: 100% !important;
    height: 100px;
    line-height: 100px;
    background-color: #ffffff;
    line-height: 153px;
}

.nav-container>* {
    margin-left: 100px;
}

.images-editor {
    background-color: #e3e3e3;
    display: flex;
}

.images-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #e3e3e3;
    margin-bottom: 10px;
}

.images-wrapper img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    min-width: 225px;
    min-height: 250px;
    display: block;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15%;
    transition: ease 0.4s;
}

.images-wrapper img:hover {
    width: 101%;
    height: 101%;
}

/*html*/

* {
    margin: 0;
    outline: none;
    list-style-type: none;
}

html {
    background-color: #e3e3e3;
}

/*helper*/

.border {
    border-bottom: 2px solid black;
}

.hidden {
    display: none;
}

/*Editor*/

.tool-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    width: 60px;
    height: 60px;
    width: 30%;
    margin-right: 100px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 77px;
}

.canvas-container {
    width: 70%;
    margin-left: 100px;
}

.placeholder {
    text-align: center;
    width: 373px;
    height: 60px;
    color: #000000;
    font-family: montserratMedium;
    font-size: 20px;
    font-weight: 400;
    border-radius: 12px;
    background-color: #ffffff;
    grid-column: 1 / -1;
}

.add {
    grid-column: 3;
    grid-row: 2;
}

.side-by-side {
    grid-column: 2;
    grid-row: 2;
}

.trash {
    grid-column: 4;
    grid-row: 2;
}

.font-up {
    grid-column: 1;
    grid-row: 4;
}

.font-down {
    grid-column: 2;
    grid-row: 4;
}

.align-left {
    grid-column: 3;
    grid-row: 4;
}

.align-center {
    grid-column: 4;
    grid-row: 4;
}

.align-right {
    grid-column: 5;
    grid-row: 4;
}

.select {
    width: 220px;
    height: 60px;
    font-family: montserratMedium;
    font-size: 20px;
    font-weight: 400;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
    grid-column: 1/3;
    grid-row: 5;
}

.share-btn {
    width: 127px;
    height: 60px;
    border-radius: 12px;
    background-color: #ff7f00;
    color: #ffffff;
    font-family: montserratMedium;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    grid-column: 4/-1;
    grid-row: 6;
    margin-left: 20px;
}

.download-btn {
    width: 127px;
    height: 60px;
    border-radius: 12px;
    background-color: #ff7f00;
    color: #ffffff;
    font-family: montserratMedium;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    grid-column: 1/3;
    grid-row: 6;
    transition: ease 0.6s;
}

.download-btn:hover, .share-btn:hover {
    background-color: #ca6704;
}

.stroke {
    grid-row: 5;
    grid-column: 4;
}

.brush {
    grid-row: 5;
    grid-column: 5;
}

.btn-for-color {
    cursor: pointer;
    grid-row: 5;
    grid-column: 5;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    opacity: 0;
}

.arrow-up {
    grid-row: 3;
    grid-column: 2;
}

.arrow-down {
    grid-row: 3;
    grid-column: 4;
}

.sub {
    grid-row: 3;
    grid-column: 3;
}

.my-canvas {
    background-color: #e3e3e3;
    display: block;
    margin-bottom: 30px;
    margin-left: 15px;
    min-width: 500px;
    min-height: 500px;
}

.style-fonts {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    transition: ease 0.6s;
}

.style-fonts:hover {
    background-color: #ff7f00;
}

/* Nav Bar */

.nav-hamburger {
    display: none;
}

.nav-hamburger span {
    display: block;
    height: 2px;
    background: #FFF;
    width: 20px;
    transition: .3s all;
    transform: rotate(360deg);
}

.nav-hamburger:hover {
    border-color: #0a0500;
}

.nav-hamburger:hover span {
    background: #0c0600;
}

.menu-open .nav-hamburger span:first-child {
    transform: rotate(45deg);
    position: absolute;
}

.menu-open .nav-hamburger span:nth-child(2) {
    display: none;
}

.menu-open .nav-hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

.main-logo {
    margin-left: 50px;
    margin-top: 10px;
}

.secondery {
    margin-right: 60px;
    width: 200px;
}

.main-nav {
    width: 100% !important;
    height: 50px;
    background-color: #ff7f00;
    position: fixed;
    top: 0;
}

.image-editor {
    margin-bottom: 10px;
    background-color: #e3e3e3;
}

.gallery-nav {
    width: 66px;
    color: #ffffff;
    font-family: montserrat;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s ease;
}

.seperator-nav {
    width: 1px;
    height: 32px;
    background-color: #8a8a8a;
}

.about-nav {
    width: 60px;
    color: #ffffff;
    font-family: montserrat;
    font-size: 19px;
    font-weight: 400;
    transition: 0.5s ease;
}

.gallery-nav:hover, .about-nav:hover {
    cursor: pointer;
    color: #020100;
    font-family: montBold;
}

/* flex helpers */

.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

/* footer */

.main-footer {
    width: 100% !important;
    height: 207px;
    background-color: #ff7f00;
}

small {
    text-align: center;
    color: #ffffff;
    font-family: montserratSomething;
    font-size: 19px;
    font-weight: 400;
    margin-left: 41px;
}

/* second footer */

.second-footer {
    width: 100%;
    height: 530px;
    background-color: #ffffff;
}

.my-pic {
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 50px;
    width: 345px;
    height: 330px;
}

.nav-container div {
    font-family: montserratMedium;
    color: orange;
    font-weight: 500;
    cursor: pointer;
    margin-left: 15px;
    min-width: 100px;
    user-select: none;
    transition: ease .8s;
}

.nav-container div:hover {
    color: black;
}

.nav-container span {
    font-family: montserratMedium;
    color: orange;
    font-weight: 500;
    cursor: pointer;
}

.section-container {
    width: 100%;
    height: 100%;
}

.info-container {
    margin-top: 143px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #000000;
    font-family: montserratMedium;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 6px;
}

p {
    width: 733px;
}

@media (max-width:1400px) {
    p {
        width: 400px;
    }
}

@media (max-width:1300px) {
    .tool-bar {
        padding-left: 56px;
        gap: 20px;
    }
    .my-canvas {
        width: 60%;
    }
    .share-btn {
        width: 125px;
    }
}

@media (max-width:1200px) {
    .images-wrapper {
        background-repeat: no-repeat;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        width: 100%;
    }
    .s-container {
        margin-right: 10px;
    }
    .my-canvas {
        margin-right: -10px;
    }
    .label {
        margin-left: 325px;
        margin-top: 293px;
    }
    p {
        width: 400px;
    }
}

@media (max-width:1100px) {
    .gallery-search-nav {
        line-height: 0;
        justify-content: start;
        padding-top: 22px;
        height: 43px;
    }
    .fa-search:before {
        margin-top: -13px;
    }
    .search-bar {
        margin-left: 5px;
    }
    .nav-container>* {
        margin-left: 50px;
    }
    p {
        width: 320px;
    }
    h2 {
        width: 320px;
    }
    .gallery-search-nav {
        height: 100px;
    }
    .s-container {
        margin-top: 54px;
        margin-right: -39px;
    }
    .s-container>* div {
        margin-right: -11px;
    }
    .nav-container div {
        margin-left: 23px;
        min-width: 0px;
    }
    .s-container>* span {
        margin-right: 34px;
    }
}

@media(max-width:980px) {
    .container {
        flex-direction: column-reverse;
        margin-bottom: 500px;
    }
    .tool-bar {
        padding-left: 175px;
    }
    .secondery {
        display: initial;
        flex-direction: column;
        position: fixed;
        right: 0;
        bottom: 0;
        height: calc(100vh - 68px);
        background-color: #ff7f00;
        border-left: 1px solid #c3c3c3;
        border-top: 1px solid #c3c3c3;
        width: 270px;
        transform: translate(150%, 0);
        transition: transform .6s;
        opacity: 0.9;
    }
    .secondery>* {
        width: 100%;
        border-bottom: 1px solid #ececec;
        text-align: center;
    }
    .secondery>*:not(:first-child) {
        margin-left: 0;
    }
    .secondery div {
        display: block;
        padding: 16px 0;
    }
    .nav-container>* {
        margin-left: 22px;
    }
    .seperator-nav {
        display: none;
    }
    .nav-hamburger {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        border: 2px solid #FFF;
        width: 40px;
        height: 40px;
        padding: 8px;
        background: transparent;
        cursor: pointer;
        border-radius: 20%;
        transition: .3s all;
        outline: none;
        position: absolute;
        right: 0;
        margin-right: 10px;
    }
    .gallery-nav:hover, .about-nav:hover {
        background-color: lavender;
    }
    .section-container {
        flex-direction: column;
    }
    .info-container {
        margin-top: 2px;
    }
    .social-links {
        margin-top: 2px;
    }
    h2 {
        color: #ff7f00;
        margin-top: 16px;
    }
    .second-footer {
        height: 700px;
    }
    .social-nets-btns {
        margin-top: 10px;
        margin-left: 113px;
    }
    h2 {
        width: initial;
    }
    p {
        width: 500px;
    }
    .s-container {
        flex-direction: column;
        margin-top: 37px;
        height: 66px;
    }
    .gallery-search-nav {
        height: 130px;
    }
}

.open {
    transform: translate(30%, 0);
}

@media (max-width:780px) {
    .section-container {
        margin-left: 160px;
    }
    p {
        width: 400px;
        font-size: 17px;
    }
    .images-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}

@media (max-width:700px) {
    .images-wrapper {
        width: initial;
        grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));
    }
    .section-container {
        margin-left: 17px;
    }
    .my-pic {
        margin-left: 98px;
    }
    .images-wrapper img {
        min-width: 155px;
        min-height: 155px;
    }
    .info-container {
        margin-left: 100px;
    }
    .s-container {
        flex-direction: column;
        margin-top: 37px;
        height: 66px;
    }
    .gallery-search-nav {
        height: 170px;
    }
    .tool-bar {
        padding-left: 70px;
    }
    .my-canvas {
        min-width: 300px;
        min-height: 300px;
    }
    .social-links {
        margin-left: -73px;
    }
    .s-container>* :nth-child(5) {
        margin-left: 67px;
        position: absolute;
        margin-top: 39px;
    }
    .s-container>* :nth-child(7) {
        position: absolute;
        margin-top: 43px;
        margin-left: 240px;
        margin-right: 36px;
    }
    .s-container>* :nth-child(6) {
        position: absolute;
        margin-top: 43px;
        margin-left: 195px;
    }
    .special-container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .nav-container div {
        margin-left: 17px;
    }
    .nav-container {
        margin-right: 87px;
    }
}

@media (max-width:500px) {
    .my-pic {
        margin-left: initial;
    }
    h2 {
        font-size: 20px;
    }
    .info-container {
        margin-left: 35px;
    }
    p {
        width: 300px;
        font-size: 17px;
    }
    .social-links {
        margin-left: -100px;
        margin-top: 10px;
    }
    .second-footer {
        height: 750px;
    }
    .nav-hamburger {
        margin-right: 26px;
    }
    .tool-bar {
        padding-left: 70px;
        gap: 20px;
    }
    .my-canvas {
        min-width: 450px;
        min-height: 200px;
        margin-left: -100px;
        padding: 15px;
        padding-left: 10px;
    }
    .placeholder {
        width: 455px;
        margin-left: -65px;
    }
    .arrow-up {
        grid-column: 1;
        grid-row: 2;
    }
    .side-by-side {
        grid-column: 2;
        grid-row: 2;
    }
    .arrow-down {
        grid-column: 5;
        grid-row: 2;
    }
    .font-down {
        grid-column: 2;
        grid-row: 3;
    }
    .font-up {
        grid-column: 4;
        grid-row: 3;
    }
    .align-left {
        grid-column: 2;
        grid-row: 4;
    }
    .align-center {
        grid-column: 3;
        grid-row: 4;
    }
    .align-right {
        grid-column: 4;
        grid-row: 4;
    }
    .share-btn {
        grid-row: 6;
        grid-column: 4/-1;
        width: 123px;
    }
    .download-btn {
        grid-row: 6;
        grid-column: 1/3;
    }
    #large {
        display: none;
    }
    #notlarge {
        display: block;
    }
}

@media (max-width:400px) {
    .images-wrapper {
        padding-right: 7px;
        padding-left: 13px;
        gap: 5px;
    }
    .images-wrapper img {
        min-width: 100px;
        min-height: 100px;
        height: 20%;
    }
    .my-pic {
        width: 282px;
        height: 280px;
        margin-left: 11px;
    }
    .info-container {
        margin-left: 18px;
    }
    .nav-container>* {
        margin-left: 10px;
    }
    .secondery {
        width: 205px;
    }
    .my-canvas {
        min-width: 319px;
        min-height: 191px;
        padding-left: 27px;
    }
    .placeholder {
        width: 319px;
    }
    .style-fonts {
        width: 30px;
        height: 30px;
    }
    .btn-for-color, .brush {
        grid-column: 5;
        grid-row: 4;
    }
    .stroke {
        grid-column: 1;
        grid-row: 4;
    }
    .select {
        width: 224px;
    }
    .share-btn {
        grid-column: 3/-1;
        width: 112px;
    }
    .download-btn {
        width: 119px;
    }
    h2 {
        font-size: 22px;
    }
    .search-bar {
        font-size: 16px;
    }
    .nav-hamburger {
        margin-right: 10px;
    }
    small {
        margin-right: 70px;
    }
    #main-logo {
        margin-right: 70px;
    }
    .placeholder {
        width: 345px;
    }
    .search-bar {
        content: 'replace';
    }
    #large {
        display: none;
    }
    #notlarge {
        display: block;
    }
}